@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<nav>
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        @{ 
            var breadcrumbOrder = 1;
        }
        @foreach (var ancestor in Model.Content.Ancestors().Where(c => c.DocumentTypeAlias != "authorsIndex").Reverse())
        {
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="@ancestor.UrlAbsolute()" itemprop="item"><span itemprop="name">@ancestor.Name</span></a>
                <meta itemprop="position" content="@breadcrumbOrder" />
            </li>
            breadcrumbOrder++;
        }
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="@Model.Content.UrlAbsolute()" itemprop="item"><span itemprop="name">@Model.Content.Name</span></a>
            <meta itemprop="position" content="@breadcrumbOrder" />
        </li>
    </ol>
</nav>